body{
    font-family: monospace;
    background-color:#FFFFFF;
}

footer {
    width: 100%;
    font-family: monospace;
    font-size: 10px;
    text-align: center;
    float: left;
}

header{
    font-family:inherit;
    height: 13rem;
    width: 100%;
    background: #022835;
    border-bottom: 2px solid #022835;
    color: #6C929F;
    box-shadow: 2px 2px 5px grey;
    text-shadow: 2px 2px 4px #000000;
    min-height: 200px;
    margin-bottom: 1%;
    
}

.inner{
    display: inline-block;
    vertical-align: middle;
    font-family:monospace;
    font-weight:bolder;
}

.barralateral{
    float: left;
    width: 20%;
    min-height: 70rem;
}
.navbar{    
    background: #D6E6F2;
    font-family: monospace;
    border: 1px solid #457585;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
    margin-bottom: 8%;
}

.navbar ul{
    font-family:monospace; 
    padding-top: 15%;
    padding-right: 17%;
    list-style: none;
    width: 100%;
    text-align: center;
}

.navbar ul li{
    display: inline-block;
    width: 100%;
    margin-bottom: 5%;
    text-align: justify-all;
    border-radius: 7px;
    border: 2px solid #506362;
    background: #6C929F;
    color: #104050;
    box-shadow: 2px 2px 5px grey;

}
.navbar ul li a{
    text-decoration: none;
}

.headerboxes{
    text-shadow: 2px 2px 4px #000000;
    text-align:center;
    font-family:monospace;
    font-style: italic;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #104050;
    color: #6C929F;
    position: absolute;
    top: -10px;
    width: 100%;
    border: 1px solid #457585;
}

.imagenesamigos{
    margin-top: 20%;
    margin-bottom: 5%;
}

.imagenesamigos a img{
    margin-bottom: 5%;  
}

.containerprincipal{

    min-width: 76.6em !important;
    max-width: 76.8em !important;
    height: auto;
    margin: auto;
    
}
.cuadrocentral {
    border-radius: 15px;
    width: 55%;
    float: left;
    min-width: 50%;    
}


.articulovistahome{
    border: 2px solid #457585;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    min-width: 80%;
    min-height: 250px;
    height: auto;
}