body{
    font-family: monospace;
    background-color:#FFFFFF;
    font-size: 18px;
}

ul{
    font-family:monospace; 
    margin-top: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

ul a{
    font-family:inherit; 
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-decoration: none;
}

.linav{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #506362;
    border-radius: 7px;
    width: 150px;
    background: #6C929F;
    color: #104050;
    text-align: center;
    box-shadow: 2px 2px 5px grey
}
.inner{
    display: inline-block;
    vertical-align: middle;
    font-family:monospace;
    font-weight:bolder;
    font-size:20px;
    min-width: 600px"
}
.barraizquierda{
    float: left;
    margin-top: 2%;
    width: 18%;
    min-height: 100%;
    min-width: 230px;
}
.navbar{
    font-family: monospace;
    background: #D6E6F2;
    width: 100%;
    border: 1px solid #457585;
    border-radius: 15px;
    padding-top: 0px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
    min-height: 200px;
    min-width: 100%;
    
}

.headerboxes{
    text-shadow: 2px 2px 4px #000000;
    text-align:center;
    font-family:monospace;
}
.navbar2{
    font-family: monospace;
    background: #D6E6F2;
    width: 100%;
    margin-top: 10%;
    border: 1px solid #457585;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
    min-height: 200px;
    min-width: 100px;
}

.barraderecha{
    float: left;
    width: 20%;
    margin-top: 2%;
    margin-top: 2%;
}

.imagenesamigos{
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px grey
}
.navbarderecha{
    padding-top: 25%;
    padding-bottom: 15%;
    float: left;
    width: 100%;
    height: auto;
    border: 1px solid #457585;
    background: #D6E6F2;
    border-radius: 15px;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 5px grey;
    min-height: 200px;
    min-width: 100px;
    
}

.continerprincipal{
    margin-left: 25px;
    margin-right: 20px;
    min-height: 100%;
    min-width: 100%;
    padding-top: 15px;
    float: left;
    height: auto;
    
    
}
.cuadrocentral {
    margin-top: 2%;
    border-radius: 15px;
    width: 55%;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100%;
    min-width: 50%;
       
    
}
header{
    font-family:inherit;
    height: 200px;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    background: #022835;
    border-bottom: 2px solid #022835;
    color: #6C929F;
    box-shadow: 2px 2px 5px grey;
    text-shadow: 2px 2px 4px #000000;
    min-height: 200px;
    min-width: 100%
    
}

h1 {
  font-family:monospace;
  font-weight:bolder;
  font-size:20px;
  min-width: 300px
}

h3 {
    font-family: monospace;
    font-style: italic;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #104050;
    color: #6C929F;
    position: absolute;
    top: -10px;
    width: 100%;
    border: 1px solid #457585;
}

h4 {
    font-weight: bolder;
    font-family: monospace
}
.articulovistahome{
    border: 2px solid #457585;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    min-width: 80%;
    min-height: 250px;
    height: auto;
}

footer {
    width: 100%;
    font-family: monospace;
    font-size: 10px;
    text-align: center;
}
